$main: #003087;
$seccondary: #41b6e6;

.title {
  text-align: center;
  text-transform: uppercase;
  color: $main;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 7px;
    width: 40px;
    content: '';
    position: relative;
    background-color: $seccondary;
  }
}
