// COLORS
$white: #fff;
$main: #003087;
$secondary: #41b6e6;

// SPACING

//BREAKPOINTS
$lg-width-min: 992px;
$xl-width-min: 1200px;

.card {
  width: 100%;
  // margin-bottom: 1rem;
  max-width: 350px;

  * {
    margin: 0;
  }

  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid $main;
    border-left: 3px solid $main;
    margin: -10px;
    animation: animate 2s infinite;
  }

  &-title {
    color: $main;
    overflow: hidden;
    display: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
  }

  a {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  &-subtitle {
    display: none;
    opacity: 0;
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
  }

  &-link {
    text-decoration: none;
    color: $main;
  }

  img {
    width: 100%;
  }

  figure {
    margin: 0;
    position: relative;
  }

  figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    height: 2%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid rgba(255, 255, 255, 0.8);
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &:hover {
    cursor: pointer;

    .arrow {
      display: none;
    }

    figcaption {
      bottom: 0;
      height: 100%;

      &:before {
        content: '';
        display: block;
        border-bottom: 0;
      }

      .card-title {
        display: block;
      }

      .card-subtitle,
      .card-button {
        display: block;
      }
    }
  }

  @media (min-width: $lg-width-min) {
    margin-bottom: 0;
    flex: 1 1;
  }

  @media (min-width: $xl-width-min) {
    &-title {
      font-size: 1.4rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }
}
