@import './variables.scss';

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Open Sans, sans-serif;

  * {
    margin: 0;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
  font-weight: 300;
}

.container {
  margin: 1rem;

  @media (min-width: $lg-width-min) {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
  }
}
