@import '../../variables.scss';

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $lg-width-min) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
